<div class="row clearfix">
	<% if productify_task.completed? %>
		<div class="complete">
			<%= link_to complete_productify_list_productify_task_path(@productify_list, productify_task.id), method: :patch do %>
				<i style="opacity:0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="productify_task">
			<p style="opacity: 0.4;"><strike><%= productify_task.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to productify_list_productify_task_path(@productify_list, productify_task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_productify_list_productify_task_path(@productify_list, productify_task.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="productify_task">
			<p><%= productify_task.content %></p>
		</div>
		<div class="trash">
			<%= link_to productify_list_productify_task_path(@productify_list, productify_task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>