<p id="notice"><%= notice %></p>

<h1>Listing Productify Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productify_lists.each do |productify_list| %>
      <tr>
        <td><%= productify_list.title %></td>
        <td><%= productify_list.description %></td>
        <td><%= link_to 'Show', productify_list %></td>
        <td><%= link_to 'Edit', edit_productify_list_path(productify_list) %></td>
        <td><%= link_to 'Destroy', productify_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productify list', new_productify_list_path %>
